<section class="phx-hero">
  <h1>Las Tablas de Multiplicar</h1>
  Vamos a probar con las Tablas de multiplicar
</section>

<section class="row">
  <dl>
   <%= for x <- 10..1//-1 do %>
     <li><%= link "Tabla del #{x}", to: "/session/new/multiplication/#{x}",  class: "button" , data: [number: x]  %></li>
   <% end %>
</ul>
</section>
